
//
// VARIABLES
//

// Colors
$linkColor: #3465a4; 
$green: #4e9a06;
$red: #a40000;

// Grays
$black: #000;
$darkerGray: #2e3436;
$darkGray: #555753;
$gray: #888a85;
$lightGray: #ecf0eb;
$lighterGray: #f7f8f5;
$white: #fff;

// Font stacks
$bodyFont: sans-serif;
$headingFont: sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}